<!-- <div class="card">
  <img src="{{ imageUrl }}" alt="Avatar" style="width:100%" />
  <div class="container">
    <h4>
      <b>{{ name }}</b>
    </h4>
    <p>{{ designation }}</p>
  </div>
</div> -->

<ul class="cards">
  <li class="cards_item">
    <div class="card">
      <div class="card_image">
        <img src="{{ imageUrl }}" />
      </div>
      <div class="card_content">
        <h2 class="card_title">{{ name }}</h2>
        <p class="card_text">
          {{ designation }}
        </p>
      </div>
    </div>
  </li>
</ul>
